{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="attack-container">
    <p class="game-list-description-title">{{ attacker_name }}에게 반격하세요!!</p> <!-- Use the attacker_name variable -->
    <form action="{%url 'cardgame:accept_game' pk=pk %}" method="post" class="attack-form">
        {% csrf_token %}
        <div class="card_img_container">
            {% for value, display in form.defend_num.field.choices %}
                <input type="radio" id="id_defend_num_{{ value }}" name="{{ form.defend_num.name }}" value="{{ value }}" {% if form.defend_num.value == value %}checked{% endif %}>
                <label for="id_defend_num_{{ value }}">
                    <img src="{% static 'image/' %}{{ value }}.png" alt="" width="80" style="height: auto;">
                </label>
            {% endfor %}
        </div>
        <button class="attack-button">반격하기!</button>
    </form>
</div>
{% endblock %} 
