{% extends 'base.html' %}

{% block content %}
<div class="game-list-container">
    <h2 class="game-list-title">
        <span class="game-list-header">현재 플레이어의 게임 리스트 : {{user.username}}</span>
    </h2>
    <p class="game-list-description">
        유저의 게임 리스트를 보여주는 화면입니다. 게임을 취소하거나 반격할 수 고 각 게임정보를 알 수 있습니다.
    </p>
    <hr class="divider"/>

    <div class="game-list">
        {% for game in gameList %}
        <div class="game-entry">
            <div class="game-id">{{ game.id }}</div> 
           <span class="player defender">{{ game.attacker.user.username }} VS {{ game.defender.user.username }}</span>
            {% comment %} {{ game.defender.user.username }} <span id="vs">VS</span> {{ game.attacker.user.username }} {% endcomment %}
            {% comment %} <span class="game-match"></span> {% endcomment %}
                {% if not game.is_over %}
                    {% if game.defender.user == user %}
                        <a href="{% url 'cardgame:accept_game' pk=game.pk %}" class="defend-game-button">반격하기</a>
                    {% elif game.attacker.user == user %}
                    <div class="game-action">
                        진행중... 
                        <form action="{% url 'cardgame:cancel_game' pk=game.pk %}" method='post' class="inline-form">
                            {% csrf_token %}
                            <button class="cancel-game-button" type="submit">게임취소</button>
                        </form>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="game-result">
                    
                    결과: 
                    {% if game.winner %}
                        {% if game.winner.user == user %}
                            Win
                        {% else %}
                            Lose
                        {% endif %}
                    {% else %}
                        Draw
                    {% endif %}
                    </div>
                    
                
                {% endif %}
            <a href="{% url 'cardgame:game_detail' pk=game.pk %}" class="game-detail-button">게임정보</a>
            {% comment %} <a href="{%url 'cardgame:game_detail' pk=pk%}" class="game-detail-button">게임정보</a> {% endcomment %}

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
