
<!-- 랭킹보기 페이지 -->
{% extends "base.html" %}
{% block content %}
<div class="main-container">
    <div>
        <div>
            <h2 id="score-title">Piro 명예의 전당</h2>
        </div>
        <div class="score">
            {% for profile in profiles %}
            <div>
                <span class="score-text">{{profile.user.username}}님 </span>
                <span class="score-text"> 총점수 : {{profile.score}}점</span>
            </div>            
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
