
.attack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    padding-top: 60px; /* header offset */
    padding-bottom: 60px; /* footer offset */
}

.attack-form, .counter-attack-form {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 30rem;
    width: 70rem; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.attack-container {
    text-align: center;
}

.attack-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.attack-form label {
    margin: 5px;
    cursor: pointer;
}

.attack-form label img {
    transition: transform 0.3s ease, border 0.3s ease;
    border: 3px solid transparent;
}

.attack-form label img:hover {
    transform: scale(1.05);
}

.attack-form input[type="radio"] {
    display: none;
}

.attack-form input[type="radio"]:checked + label img {
    border: 5px solid #007bff;
}


.attack-form p, .counter-attack-form p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.counter-attack-form {
    display: flex;
    justify-content: space-evenly;
}
/* Text custom */
.attack-form label, .counter-attack-form label {
    margin-right: 10px;
    font-family: 'JalnanGothic', Helvetica;
    font-size: 2.5rem; 
    font-weight: 400; /* Makes the text bold */
    color: #fec5bb; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
    text-shadow: 0px 2px 0px black;
    -webkit-text-stroke: 1px #ee09c4;
}

.attack-form select {
    cursor: pointer;
    width: 50%;
    height: 3rem;
}

.attack-button {
    margin-top: 10px;
}

#select-user {
    width: 150px;
}


.attack-form select {
    cursor: pointer;
    width: 50%;
    height: 3rem;
    border: 3px solid #fec5bb;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
    padding: 5px 10px; 
    font-size: 2rem; 
    transition: border-color 0.3s, box-shadow 0.3s;
}

.attack-form select:focus {
    border-color: #007bff; /* Color when the select is focused */
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5); /* Shadow when the select is focused */
    outline: none; /* Removes the default focus outline */
}

.attack-form select:hover {
    border-color: #0056b3; /* Color when the select is hovered */
}
